/* Global styles */
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    max-width: 100vw;
    overflow-x: hidden;
}

/* Header styling */
header {
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

/* Logo styling */
.logo img {
    max-height: 4rem;
    cursor: pointer;
}

/* Navigation styling */
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

/* Navigation links styling */
nav ul li {
    font-weight: 500;
    font-size: 1.1rem;
}

nav ul li a {
    text-decoration: none;
    color: #0E524B;
    font-weight: bold;
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    color: #5FA031;
    font-size: 1.25rem;
}

/* Call-to-action button */
.cta {
    background-color: #0E524B;
    color: white;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
}

.cta:hover {
    background-color: #5FA031;
    color: white;
}

/* Search bar styling */
.search-bar {
    padding: 0.75rem 1.25rem;
    border: 1px solid #ccc;
    border-radius: 1.25rem;
    width: 18rem;
    transition: width 0.3s ease;
}

.search-bar:hover,
.search-bar:focus {
    width: 25rem;
    outline: none;
    border-color: #45a049;
    background-color: #e6ffe6;
}

/* Main content styling */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px); /* Adjust height based on header */
}

h1 {
    font-size: 2.5rem;
}

#post-listing {
    background-color: #0E524B;
    font-size: 1.4rem;
    font-weight: 500;
    font: "Poppins";
    color: white;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 0.5rem;
    border-color: #0E524B;
    transition: background-color 0.3s ease;
}

/* Media Queries for larger screens */
@media only screen and (min-width: 1024px) {
    header {
        padding: 2rem 4rem;
    }

    nav ul {
        gap: 3rem;
    }

    h1 {
        font-size: 3rem;
    }
}

