header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0.5rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 100%;
}

.logo{
    width: 160px;
    height: auto;
    object-fit: contain;
    grid-column-start:1;
    grid-column-end:2;
}
.search-container {
    display: flex;
    justify-content: center;
    grid-column-start:3;
    grid-column-end:5;
}

.search-bar {
    width: 31vw;
    height: 4vh;
}
.nav {
    display: flex;
    justify-content: end;
    grid-column-start:5;
    grid-column-end:7;
}
.nav-item{
    margin-left: 1.5rem;
}
a{
    text-decoration: none;
    width: fit-content;
}
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    display: inline-block;
    align-items: center;
    justify-content: center;
}

/* Call-to-action button */
.button {
    background-color: #0E524B;
    color: white;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #5FA031;
    color: white;
}

/*!* Search bar styling *!*/
/*.search-bar {*/
/*    padding: 0.75rem 1.25rem;*/
/*    border: 3px solid #ccc;*/
/*    border-radius: 1.25rem;*/
/*    width: 18rem;*/
/*    transition: width 0.3s ease;*/
/*}*/

/*.search-bar:hover,*/
/*.search-bar:focus {*/
/*    width: 19rem;*/
/*    outline: none;*/
/*    border-color: #5FA031;*/
/*    background-color: white;*/
/*}*/

/* Main content styling */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px); /* Adjust height based on header */
}

h1 {
    font-size: 2.5rem;
}

.under-buttons {
    margin-top: 10px;
    margin-bottom: 20px;
}

#hero_section{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*!* Media Queries for larger screens *!*/
/*@media only screen and (min-width: 1600px) {*/
/*    header {*/
/*        padding: 5rem 5rem;*/
/*    }*/

/*    nav ul {*/
/*        gap: 10rem;*/
/*    }*/

/*    h1 {*/
/*        font-size: 3rem;*/
/*    }*/
/*}*/

