header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0.5rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 98vw;
    /*width: 100%;*/
}

.logo{
    width: 160px;
    height: auto;
    object-fit: contain;
    grid-column-start:1;
    grid-column-end:2;
    justify-self: start;
}
.search-container {
    display: flex;
    justify-content: center;
    grid-column-start:3;
    grid-column-end:5;
}

.search-bar {
    width: 27rem;
    height: 2rem;
    border: 2px solid #0E524B;
    border-radius: 2rem;
    transition: width 0.3s ease;
}
.search-bar:hover, .search-bar:focus {
    outline: none;
    border-color: #5FA031;
    width: 27.5rem;
}
.nav {
    display: flex;
    justify-content: end;
    align-content: center;
    grid-column-start:5;
    grid-column-end:7;

}
.nav-item{
    margin-left: 2rem;
    align-self: center;
    color: #0E524B;
    font-family: "Poppins", sans-serif;
}
.nav-item:hover{
    color: #5FA031
}
a, a:visited{
    text-decoration: none !important;
    width: fit-content;

}
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    color:#0E524B;
    overflow-x: hidden;
    display: grid;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 2.5rem;
    /*background-color: #FFF;*/
    color: #FFF
}

.button-3 {
    background-color: #0E524B;
    color: white;
    padding: 0.5rem 0.5rem;
    text-decoration: none;
    border-radius: 0.5rem;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button-3:hover {
    background-color: #5FA031;
    color: white;
    transform: scale(1.05)
}

/* Main content styling */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:  #5FA031;
    padding: 1rem;
    width: 98vw;

}
#hero_section{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-image: url("resources/field.jpg");
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#getStarted{
    font-size: 1.17rem;
}

#about-section{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

img{
    height: 30rem;
    width: 30rem;
    object-fit: cover;
}
.about{
    height: 30rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#first_about{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-bottom: 5rem;
    height: 30rem;
}
#second_about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-bottom: 5rem;
    height: 30rem;
}
.title{
    color: black;
}

/* css cards content */
.slide-content{
    margin: 0rem 2.5rem;
  }
  .card{
    width: 20rem;
    border-radius: 50rem;
    background-color: #5FA031;
  }
  
  .image-content,
  .card-content{
    display: flex;
    flex-direction: xolumn;
    align-items: center;
    padding: 0.625rem 0.875rem;
  
  }
  .image-content{
    position: relative;
    row-gap: 0.313rem;
  }
  .overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #0E524B;
    border-radius: 25px 25px 0 25px;
  }
  .overlay::before,
  .overlay::after{
    content: '';
    position: absolute;
    right: 0;
    height: 40px;
    width: 40px;
    background-color: red;
  }
  .card-image{
    position: relative;
    height: 9.375rem;
    width: 9.375rem;
    background: white;
    padding: 3px;
  }
  .card-image .card-img{
    height: 6rem;
    width: 6rem;
    object-fit: cover;
    border-radius: 200%;
    border: 4px solid #5FA031;
  }
  .name{
    font-size: 1.125rem;
    font-weight: 500;
    color: #0E524B;
  }
  .description{
    font-size: 0.875rem;
    color:#0E524B;
    text-align: center;
  }
  .button{
    border: none;
    font-size: 16px;
    color:white;
    padding: 8px 16px;
    background-color:#0E524B;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3 ease;
  }
