* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    margin: 0;
    font-family: Poppins, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.5rem;
}

.logo {
    cursor: pointer;
    flex-grow: 1;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6.25rem; /* Converted 100px to rem */
}

nav ul li {
    font-weight: 500;
    font-size: 1.2rem;
    margin-left: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #0E524B;
    font-weight: bold;
    font-size: 1.2rem;
    transition: font-size 0.3s ease;
}

nav ul li a:hover {
    color: #5FA031;
    font-size: 1.3rem;
    transition: font-size 0.3s ease;
}

.cta {
    background-color: #0E524B;
    color: white;
    padding: 0.625rem 1.25rem;
    text-decoration: none;
    border-radius: 0.3125rem;
    transition: background-color 0.3s ease;
}

.cta:hover {
    background-color: #5FA031;
    color: white;
}

.search-bar {
    padding: 0.625rem 0.9375rem;
    border: 0.0625rem solid #ccc;
    border-radius: 1.25rem;
    margin: 0 1.25rem;
    width: 18.75rem;
    -webkit-transition: width 0.3s ease;
    transition: width 0.3s ease;
}

.search-bar:hover,
.search-bar:focus {
    width: 25rem;
    outline: none;
    border-color: #45a049;
    background-color: #e6ffe6;
}
